

<h1>About</h1>
<div class="box_large">
  <p class="about">
  	<span class="highlight">Looking for a therapist?</span><br>
    Shrink Scout helps you find therapists located in an area most convenient to you. <br>
    <span class="highlight">Need to find a modern couples therapist between work and home?</span><br>
    Shrink Scout can help you find an understanding therapists specialized in couples therapy.<br>
    <span class="highlight">Need a mental health counselor next door to your gym?</span><br>
    Shrink Scout has your back! <br>
    Deciding to go to therapy can be a hard enough decision - finding a great therapist that suits your needs can be easy! <br>It's time to take care of yourself!
  </p>
</div>